 <section class="ftco-section ftco-no-pb ftco-no-pt">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-8 d-flex">
            <div class="row no-gutters">
              <div class="col-md-4">
                <div class="services-2">
                  <div class="icon">
                    <span> <i class="fas fa-church"></i></span>
                  </div>
                  <div class="text">
                    <h4>Worhip</h4>
                    <span class="subheading">What to expect</span>
                    <p>
                      Far far away, behind the word mountains, far from the
                      countries Vokalia and Consonantia, there live the blind
                      texts.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="services-2">
                  <div class="icon">
                    <span><i class="fas fa-praying-hands"></i></span>
                  </div>
                  <div class="text">
                    <h4>Connect</h4>
                    <span class="subheading">Contact Members</span>
                    <p>
                      Far far away, behind the word mountains, far from the
                      countries Vokalia and Consonantia, there live the blind
                      texts.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="services-2">
                  <div class="icon">
                    <span><i class="far fa-heart"></i></span>
                  </div>
                  <div class="text">
                    <h4>God's Love</h4>
                    <span class="subheading">Beliefs and History</span>
                    <p>
                      Far far away, behind the word mountains, far from the
                      countries Vokalia and Consonantia, there live the blind
                      texts.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex">
            <div class="services-2 services-block">
              <div class="text">
                <h4>
                  A Christian should live for the glory of God and the
                  well-being of others.
                </h4>
                <p>
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>