 <section class="ftco-section ftco-no-pb ftco-no-pt">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-8 d-flex">
            <div class="row no-gutters">
              <div class="col-md-4">
                <div class="services-2">
                  <div class="icon">
                    <span> <i class="fas fa-church"></i></span>
                  </div>
                  <div class="text">
                    <h4>Worhip</h4>
                    <span class="subheading">What to expect</span>
                    <p>
                      Our worship time is always an experience. A time of deep encounter with the Holy Spirit in word exposition, impactful prayers, manifestation of God's palpable presence, power and glory with  tangible signs and wonders. To the glory of God the Father and the exaltation of our Lord and Saviour Jesus Christ.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="services-2">
                  <div class="icon">
                    <span><i class="fas fa-cross"></i></span>
                  </div>
                  <div class="text">
                    <h4>Victory in Jesus Christ</h4>
                    <span class="subheading">Victory in Jesus Christ</span>
                    <p>
                      Jesus Power and Victory. It is only in Jesus Christ that mankind can experience genuine and absolute power with victory over the adverse forces of life and destiny. <br>
                      <span style="color: #b00 !important;">Luke 4:18-19, Acts 10:38</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="services-2">
                  <div class="icon">
                    <span><i class="fas fa-bible"></i></span>
                  </div>
                  <div class="text">
                    <h4>Belief</h4>
                    <span class="subheading">Our Beliefs</span>
                    <p>
                     We believe in the entirety of the word of God. The Holy Bible. <br>
                     <span style="color: #b00 !important;">2Timothy 3:16</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex">
            <div class="services-2 services-block" style="height: 400px;">
              <div class="text">
                <h4>
                  A Christian should live for the glory of God and the
                  well-being of others.
                  <span class="scripture">Matthew 22:37-39</span>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>