   <section class="hero-wrap js-fullheight">
        <div class="home-slider js-fullheight owl-carousel">
            <div class="slider-item js-fullheight" style="background-image: url(/asset/pla.jpg)">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                        <div class="col-md-8 ftco-animate">
                            <div class="text mt-md-5 w-100 text-center">
                                <h2>Welcome to</h2>
                                <h2 style="color: #b00 !important;">Jesus Power and Victory Ministry Inc.</h2>
                                <h2>AKA</h2><br/>
                                <h2>Fruitful Life Chapel Int'l</h2>
                                <h1 class="mb-3">Building Lives For Today and Eternity</h1>
                                <p class="mb-4 pb-3">
                                    Far far away, behind the word mountains, far from the
                                    countries Vokalia and Consonantia, there live the blind
                                    texts. Separated they live in.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item js-fullheight" style="background-image: url(/asset/sticker.jpg)">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                        <div class="col-md-8 ftco-animate">
                            <div class="text mt-md-5 w-100 text-center"> 
                                <h1 class="mb-3" style="color: #b00 !important;">Jesus Christ The Same Yesterday, and Today, and Forever</h1>
                                <p class="mb-4 pb-3">
                                    Far far away, behind the word mountains, far from the
                                    countries Vokalia and Consonantia, there live the blind
                                    texts. Separated they live in.
                                </p>
                                <p class="mb-0"></p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>