 <div class="row mt-5">
          <div class="col-md-12 text-center">
            <p class="copyright">
              Copyright &copy; Jesus Power and Victory Ministry. All Right
              Reserved
            </p>
          </div>
        </div>
      </div>