  <section class="ftco-section ftco-no-pb ftco-no-pt">
      <div class="container-fluid px-md-0">
        <div class="row no-gutters justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Gallery</span>
            <h2>Galleries</h2>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-md-3">
            <a
              href="/"
              class="image-popup img gallery ftco-animate"
              style="background-image: url(/asset/bible-study.jpg)"
            >
              <span class="overlay"></span>
            </a>
          </div>
          <div class="col-md-3">
            <a
              href="/"
              class="image-popup img gallery ftco-animate"
              style="background-image: url(/asset/bible-study2.jpg)"
            >
              <span class="overlay"></span>
            </a>
          </div>
          <div class="col-md-3">
            <a
              href="/"
              class="image-popup img gallery ftco-animate"
              style="background-image: url(/asset/bible-study3.jpg)"
            >
              <span class="overlay"></span>
            </a>
          </div>
          <div class="col-md-3">
            <a
              href="/"
              class="image-popup img gallery ftco-animate"
              style="background-image: url(/asset/kids.jpg)"
            >
              <span class="overlay"></span>
            </a>
          </div>
          <div class="col-md-6">
            <a
              href="/"
              class="image-popup img gallery ftco-animate"
              style="background-image: url(/asset/church.jpg)"
            >
              <span class="overlay"></span>
            </a>
          </div>
          <div class="col-md-3">
            <a
              href="/"
              class="image-popup img gallery ftco-animate"
              style="background-image: url(/asset/Jesus.jpg)"
            >
              <span class="overlay"></span>
            </a>
          </div>
          <div class="col-md-3">
            <a
              href="/"
              class="image-popup img gallery ftco-animate"
              style="background-image: url(/asset/spirituality.jpg)"
            >
              <span class="overlay"></span>
            </a>
          </div>
        </div>
      </div>
    </section>